@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */


root {
    --laranja: #EB662B;
}

* {

    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}


li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding: 15px;
}

li {
    list-style: none;
}

.caixa-logo {
    height: 40px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

#logo {
    width: 167px;
    height: 32px;
}

.search {
    color: #757575;
}

ul {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 88px;
}

.cabecalho {
    height: 50px;
    display: flex;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
    background-color: #EB662B;
    height: 0px;
    color: white;
    border-radius: 22px
}

.banner {
    background-image: url(./assets/sections/Section.png);
    background-repeat: no-repeat;
    width: 1800px;
    height: 702.13px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.caixa-texto-banner {
    height: 130px;
    width: 700px;
    color: #ffffff;
    margin-bottom: 50px;
}

.texto-banner {
    font-size: 69px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.texto-banner2 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
}

.quadrado-banner{
    width: 850px;
    height: 80px;
    background-color: #E7E6E6;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caixa-formas {
    width: 750px;
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
}

.formas {
    display: flex;
    flex-direction: column;
}

.quadrado {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 12px;
}

.caixa-btn-search{
    width: 136.95px;
    height: 60px;

}