@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --laranja: #EB662B;
    --texto: #05073C;
}

* {
    padding: 0;
    margin: 0;

}

li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding: 15px;
}

li {
    list-style: none;
}

.caixa-logo {
    height: 40px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

#logo {
    width: 167px;
    height: 32px;
}

.search {
    color: #757575;
}

ul {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.cabecalho {
    height: 50px;
    display: flex;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
    background-color: #EB662B;
    height: 0px;
    color: white;
    border-radius: 22px
}

.login:hover {
    width: 50px;
    height: 20px;
    transition: 0.5s ease-in-out;
}

section {
    padding: 50px;
}

.banner {
    background-image: url(./assets/banner/Section.png);
    background-repeat: no-repeat;
    width: 1800px;
    height: 702.13px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.caixa-texto-banner {
    height: 130px;
    width: 700px;
    color: #ffffff;
    margin-bottom: 50px;
}

.texto-banner {
    font-size: 69px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.texto-banner2 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
}

.quadrado-banner {
    width: 850px;
    height: 80px;
    background-color: #E7E6E6;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caixa-formas {
    width: 750px;
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 20px;
    align-items: center;
    font-size: 14px;
    padding: 5px;
}

.formas {
    display: flex;
    flex-direction: column;
}

.quadrado {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 12px;
}

.caixa-btn-search {
    background-color: #EB662B;
    height: 60px;
    width: 136.95px;
    border-radius: 12px;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
}

.btn-search {
    border: none;
    background-color: #EB662B;
    color: #ffffff;
    border-radius: 12px;
    margin-left: 40px;
}

.section-qualidades {
    margin: auto;
    width: 1320px;
    height: 296.38px;
    color: #05073C;
}


.caixa-titulo {
    margin-bottom: 50px;
}

.caixa-icone {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.texto-titulo1 {
    height: 45px;
    font-weight: 700;
    font-size: 30px;
}

.conteiner-icones {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.bi {
    font-size: 50px;
    color: var(--laranja);
}

.strong {
    font-size: 16.72px;
    font-weight: 500;
}

.texto-icone {
    font-size: 14.88px;
    font-weight: 400;
}

.caixa-icone {
    width: 200px;
}

.section-carrosel {
    margin: auto;
    width: 1320px;
    height: 390.25px;
    color: #05073C;
}

.carrosel {
    margin-top: 80px;
}


.caixa-box-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.box-titulo {
    font-size: 30px;
    font-weight: 700;
}

.box-descricao {
    font-size: 14.3;
    font-weight: 400;
}

.box-turismo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caixa-texto-turismo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.texto-pais {
    font-size: 20px;
    font-weight: bold;
}

.box-img {
    width: 130px;
    height: 130px;
}

.box-img:hover {
    width: 150px;
    height: 150px;
    transition: 0.1s ease-in-out;
}

.Tours-polular {
    width: 1320px;
    height: 940.63px;
    margin: auto;
}

.container-tours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.caixa-titulo-tours {
    display: flex;
    gap: 1000px;
    align-items: center;

}

.titulo-tours {
    font-size: 29.41px;
    font-weight: 700;
}

.descricao-tours {
    font-size: 14.3px;
    font-weight: 400;
}

.caixa-tours {
    border: 1px solid black;
    width: 300px;
    height: 388.31px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

#img-tours {
    margin: 15px;
}

.pais-tours {
    margin-left: 15px;
    font-size: 12.29px;
    font-weight: 400;
}

.local-tours {
    margin: 15px;
    font-size: 15.88px;
    font-weight: 500;
    width: 220.27px;
    height: 45px;
}

.caixa-avaliacoes {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    margin: 15px;
}

.bi-star-fill {
    font-size: 10px;
    font-weight: 400;
}

.avaliacoes-tours {
    font-size: 12.49px;
    font-weight: 400;
}

.dias-tours {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-oferta {
    width: 1530px;
    margin: auto;
}

.banner-oferta {
    background-image: url(./assets/oferta-limitada/banner-oferta.png);
    background-repeat: no-repeat;
    width: 1530px;
    height: 606.13px;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.caixa-texto-oferta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

.color {
    color: var(--laranja);
}

.texto-oferta {
    width: 366.14px;
    height: 156px;
    color: #05073C;
    font-size: 40px;
    font-weight: 700;
    margin-right: 200px;
}

.descricao-oferta {
    width: 315.22px;
    height: 28.13px;
    color: #05073C;
    font-size: 14.77px;
    font-weight: 400;
    margin-right: 150px;
}

.btn-oferta {
    width: 167.86px;
    height: 62px;
    background-color: #EB662B;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-align: start;
    padding: 20px;
}

.popular {
    width: 1320px;
    margin: auto;
    
}

.caixa-titulo-popular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.texto-titulo-popular {
    font-size: 30px;
    font-weight: 700;
}

.texto-descricao-popular {
    font-size: 14.3px;
    font-weight: 400;
}

.caixa-activities {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: blueviolet;
}


.caixa-food {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.viagem {
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.viagem:hover {
    transform: scale(1.05);
}

.viagem p {
    display: flex;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    margin: 20px;
}

.cruises {
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-image: url(./assets/popular-things/Cruises.png);
}

.beach-tours {
    width: 410px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-image: url(./assets/popular-things/Beach-Tours.png);
}

.city-tours {
    width: 520px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-image: url(./assets/popular-things/City-Tours.png);
}

.museum-tour {
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-image: url(./assets/popular-things/Museum-Tour.png);
}

.food {
    width: 190px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-image: url(./assets/popular-things/Food.png);
}

.hiking {
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-image: url(./assets/popular-things/hiking.png);

}
.trending {
    width: 1530px;
    height: 767.31px;
    margin: auto;
    background-color: #F5F5F5;
    border-radius: 12px;
}